@model Models.EF.M1ContentCategory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cập nhật nhóm bài viết</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Tên nhóm", htmlAttributes: new { @class = "control-label col-md-2", required = true })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ảnh đại diện", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Photo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Chọn cấp độ của nhóm bài viết", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ParentID, new SelectList(ViewBag.Categories, "ID", "Name"), "Làm nhóm chính", new { @class = "form-control" })
                @*@Html.DropDownList("ParentID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })*@
            </div>
        </div>
       
        <div class="form-group">
            @Html.Label("Thứ tự hiển thị", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <h4>Thông tin SEO của nhóm bài viết</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.SeoTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SeoTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SeoTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaKeywords, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaDescriptions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MetaDescriptions, new { @class = "form-control"  })
                @Html.ValidationMessageFor(model => model.MetaDescriptions, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <hr />
        <div class="form-group">
            @Html.Label("Hiển thị lên web", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                 
                    @Html.CheckBoxFor(modelItem => Model.Status, new {  @class = "dxWeb_edtCheckBoxChecked_Material dxICheckBox_Material dxichSys dxRippleTarget dxExternalRippleTarget" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hiển thị lên trang chủ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                  
                    @Html.CheckBoxFor(modelItem => Model.ShowOnHome, new {@class = "dxWeb_edtCheckBoxChecked_Material dxICheckBox_Material dxichSys dxRippleTarget dxExternalRippleTarget"})
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.Language, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
