<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
  
                @Html.DevExpress().GetStyleSheets( 
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
        )
  
        @Html.DevExpress().GetScripts( 
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
new Script { ExtensionSuite = ExtensionSuite.Editors },
new Script { ExtensionSuite = ExtensionSuite.Chart },
new Script { ExtensionSuite = ExtensionSuite.Report },
new Script { ExtensionSuite = ExtensionSuite.GridView },
new Script { ExtensionSuite = ExtensionSuite.TreeList }
        )
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script>
	//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
    </script>
    <style>
        /* Paste this css to your style sheet file or under head tag */
        /* This only works with JavaScript, 
        if it's not present, don't show loader */
        .no-js #loader { display: none;  }
        .js #loader { display: block; position: absolute; left: 100px; top: 0; }
        .se-pre-con {
	        position: fixed;
	        left: 0px;
	        top: 0px;
	        width: 100%;
	        height: 100%;
	        z-index: 9999;
	        background: url(/Images/Preloader_2.gif) center no-repeat #fff;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.material.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.material.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "lengthMenu": [20, 50, 100, "All"],
                columnDefs: [ { targets: [ 0, 1, 2 ],
                    className: 'mdl-data-table__cell--non-numeric'
                }],
                "order": [[2, "ASC"]]
            });
        });
    </script>

</head>
<body>
    @Html.DevExpress().Panel(settings => {
        settings.Name = "HeaderPane";
        settings.FixedPosition = PanelFixedPosition.WindowTop;
        settings.Collapsible = true;
        settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 500;
        settings.ControlStyle.CssClass = "headerPane";
        settings.Styles.Panel.CssClass = "panel";
        settings.Styles.ExpandedPanel.CssClass = "expandedPanel";
        settings.Styles.ExpandBar.CssClass = "bar";
        settings.SetContent(() => {
            Html.RenderPartial("HeaderPartialView", HeaderViewRenderMode.Full);
        });
        settings.SetExpandBarTemplateContent((c) => {
            Html.RenderPartial("HeaderPartialView", HeaderViewRenderMode.Title);
        });
    }).GetHtml()

    <script type="text/javascript">
        function updateHeaderMenuOrientation(){
            if(!window.HeaderMenu) return;
            var orientation = HeaderPane.IsExpandable() ? 'Vertical' : 'Horizontal';
            if(orientation !== HeaderMenu.GetOrientation())
                HeaderMenu.SetOrientation(orientation);
        }
        var collection = ASPxClientControl.GetControlCollection();
        collection.ControlsInitialized.AddHandler(updateHeaderMenuOrientation);
        collection.BrowserWindowResized.AddHandler(updateHeaderMenuOrientation);
    </script>

    @Html.DevExpress().Panel(settings => {
        settings.Name = "MainPane";
        settings.ControlStyle.CssClass = "mainContentPane";
        settings.SetContent(RenderBody().ToHtmlString());
    }).GetHtml()


</body>
</html>